<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_Project"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Navigation screen to choose login/register -->
        <activity android:name=".LaunchActivity" />

        <!-- Auth screens -->
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />

        <!-- Admin activities -->
        <activity android:name=".admin.AdminCreateTournamentActivity" />
        <activity android:name=".admin.AdminViewTournamentsActivity" />

        <!-- Player activities -->
        <activity android:name=".player.PlayerViewTournamentsActivity" />
        <activity android:name=".player.PlayerQuizActivity" />

        <!-- Default MainActivity (not currently used to launch) -->
        <activity android:name=".MainActivity" />

    </application>

</manifest>
